web/common/src/test/resources/sample-data.xsd

<?xml version="1.0" encoding="utf-16"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="dataset" type="datasetType" />
  <xsd:complexType name="datasetType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="table" type="tableType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tableType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="column" type="xsd:string" />
      <xsd:element maxOccurs="unbounded" name="row" type="rowType" />
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="rowType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="value" type="valueType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="valueType">
    <xsd:attribute name="description" type="xsd:string" />
  </xsd:complexType>
</xsd:schema>